Deliverables: SQL File + Sceenshots

Create a file named data_analysis_queries.sql to hold all your SQL queries .For Screenshots, run each query in your SQL environment (like MySQL Workbench, pgAdmin, or SQLite Studio) and take clear screenshots of the results.

Sample SQL Queries (Based on a Typical Ecommerce Dataset)

Assume tables like:

customers(customer_id,name,email)

Orders(order_id,customer_id,order_date, total_amount)

Order_items(order_item_id,order_id,product_id, quantity,price)

products(product_id,name, category,price)

a.Basic  SELECT+ WHERE+ORDER By

SELECT*
FROM customers
WHERE email LIKE '%gmail.com
Order BY name;

b.GROUP BY with Aggregate Functions

SELECT customer_id, count(order_id) AS order_count,SUM(total_amount) AS total_spent

FROM Orders

GROUPBY customer_id

ORDER BY total _spent DESC;

c.INNER JOIN

SELECT o.order_id, c.name,o.total_amount

FROM orders o

INNER JOIN customers c ON o.customer_id=c.customer_id;

d.LIEFT JOIN

SELECT name,email

FROM customers

WHERE customer_id IN(
    SELECT customer_id
    FROM  orders 
WHere total_amount>1000
);

f.Create a view

CREATE VIEW customer_spending AS

SELECT customer_id, SUM(total_amount)AS total_spent

FROM orders
GROUPS BY customer_id;

g.Using Index for Optimization(MySQL/PostgreSQL)

CREATE INDEX idx_customer_id ON orders(customer_id);

Interview Question & Answers

1.Difference Between WHERE and HAVING ?

Ans: WHERE: Filters rows before aggregation (GROUP BY).

     HAVING: Filters after aggregation.

--Filters individual rows
SELECT* FROM orders WHERE total_amount>500;

--Filters groups 
SELECT customer_id, SUM(total_amount)
FROM orders
GROUP BY customer_id
HAVING SUM(total_amount)>1000;

2. What are the different types of joins>

Ans: TYpes of Joins
1. INNER JOIN :Only matching records
2. LEFT JOIN: All from left, matching from right.
3. RIGHT JOIN: All from right, matching from left.
4.FULL OUTER JOIN: All records from both sides (not in all DBs).
5.CROSS JOIN : Cartesian product (all combinations).

3.How do you calculate average revenue per user in SQL?

SELECT AVG(user_revenue)AS avg_revenue_per_user
FROM(
    SELECT customer_id,SUM(total_amount)AS user_revenue
    FROM orders
    GROUP By customer_id
    )AS revenue_table;

4.What are subqueries?

Ans: A subquery is a query inside another query.It's used for filtering ,calculation,or restructuring data.

5.How do you optimize a SQL query?

Ans:1.Use indexes on columns used in JOINs, WHERE, ORDER BY.
2.Avoid SELECT*; fetch only needed columns.
3.Avoid LIMIT for large result sets.
4. Avoid unnecessary subqueries; prefer JOINs where applicable.
5.Analyze query exection plans.

6.What is aview in SQL?

Ans: A view is a virtual table based on a SQL query.It simplifies complex queries and improves readability.

7.How would you handle null values in SQL?

Ans: Use IS NULL or IS NOT NULL to Filter.
    Use COALESCE (column, default_values)to replace nulls.
    Use NULLIF(a,b)to return NULL if a=b.

Example:
SELECT COALESCE (discount,0)AS discount_amount FROM products;

 Screenshots
Run each query in your SQL tool (e.g., pgAdmin, MySQL Workbench)

Take screenshots of result sets

Name them like query1_output.png, query2_output.png, etc.

Deliverables
SQL File (task3_analysis.sql)
Contain all the above queries.

Use comments to explain each section.