TASK 6: Sales Trend Analysis Using Aggregations

Objective: Analyze monthly revenue and order volume.
 Tools: PostgreSQL / MySQL / SQLite
 Deliverables: SQL script + results table                                                                                                                           
Hints/Mini Guide:
 a.Use EXTRACT(MONTH FROM order_date) for month. 

 b.GROUP BY year/month.

 c.Use SUM() for revenue.
            
 d.COUNT(DISTINCT order_id) for volume. 
            
 e.Use ORDER BY for sorting. 

f. Limit results for specific time periods. 
  Dataset: online_sales (orders table with order_date, amount, product_id 
Outcome:Learn how to group data and analyze time trends.

SQL Script :Monthly Revenue & Order Volume Analysis


Assuming the table is named online_sales and includes the fields:

order_date (DATE)

amount (numeric/decimal)

order_id (unique order identifier)

product_id (not used in this analysis)

SQL Query:

-- Monthly Revenue and Order Volume
SELECT 
    EXTRACT(YEAR FROM order_date) AS order_year,
    EXTRACT(MONTH FROM order_date) AS order_month,
    SUM(amount) AS monthly_revenue,
    COUNT(DISTINCT order_id) AS monthly_order_volume
FROM 
    online_sales
WHERE 
    order_date BETWEEN '2023-01-01' AND '2023-12-31'  -- Filter as needed
GROUP BY 
    EXTRACT(YEAR FROM order_date),
    EXTRACT(MONTH FROM order_date)
ORDER BY 
    order_year, 
    order_month;

 Example Results Table:

order_year	     order_month         	monthly_revenue   	monthly_order_volume
2023		          1                  10500.00	               135
2023		          2                  9800.50	               128
2023		          3                  12340.75	               142

Interview  Question & Answers

1.How do you group  data by month and year ?

Ans:EXTRACT(YEAR FROM date) and EXTRACT (MONTH FROM date) together in GROUP

GROUP BY EXTRACT(YEAR FROM order_date), EXTRACT(MONTH FROM order_date)

2.What's the difference between COUNT(*) and COUNT(DISTINCT col)?

COUNT(*): Counts all rows including duplicates and NULLs.

COUNT(DISTINCT col): Counts only unique, non-NULL values in the specified column.

3. How do you calculate monthly revenue?

By summing the amount field for each month:

SUM(amount)

4. What are aggregate functions in SQL?

Aggregate functions operate on a set of values to return a single value:

SUM(), COUNT(), AVG(), MAX(), MIN()

5. How to handle NULLs in aggregates?

Aggregates like SUM() and AVG() ignore NULLs.

To explicitly handle them, use COALESCE(column, 0) to treat NULL as zero:

SUM(COALESCE(amount, 0))

6. Whatâ€™s the role of ORDER BY and GROUP BY?

GROUP BY: Groups rows that share the same values into summary rows.

ORDER BY: Sorts the final output (e.g., by month or revenue).

7. How do you get the top 3 months by sales?

SELECT 
    EXTRACT(YEAR FROM order_date) AS order_year,
    EXTRACT(MONTH FROM order_date) AS order_month,
    SUM(amount) AS monthly_revenue
FROM 
    online_sales
GROUP BY 
    EXTRACT(YEAR FROM order_date), EXTRACT(MONTH FROM order_date)
ORDER BY 
    monthly_revenue DESC
LIMIT 3;