TASK 7: Get Basic Sales Summary from a Tiny SQLite Database using Python

Step 1: Create a Tiny SQLite Database (sales_data.db)
Let's assume your sales table has this schema:

CREATE TABLE sales (
    id INTEGER PRIMARY KEY,
    product TEXT,
    quantity INTEGER,
    price REAL
);

| id | product | quantity | price |
| -- | ------- | -------- | ----- |
| 1  | Apple   | 10       | 0.5   |
| 2  | Banana  | 5        | 0.3   |
| 3  | Apple   | 7        | 0.5   |
| 4  | Orange  | 8        | 0.6   |
| 5  | Banana  | 10       | 0.3   |

Step 2: Python Script to Connect, Query, and Plot  

Save this as sales_summary.py or use it in Jupyter Notebook

import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Connect to the SQLite database
conn = sqlite3.connect('sales_data.db')

# SQL query to get total quantity and total revenue per product
query = """
SELECT 
    product, 
    SUM(quantity) AS total_qty, 
    SUM(quantity * price) AS revenue 
FROM sales 
GROUP BY product;
"""

# Run the query and load the result into a pandas DataFrame
df = pd.read_sql_query(query, conn)

# Close the database connection
conn.close()

# Print the DataFrame
print("Sales Summary:")
print(df)

# Plot a bar chart for revenue by product
df.plot(kind='bar', x='product', y='revenue', legend=False)
plt.title('Revenue by Product')
plt.xlabel('Product')
plt.ylabel('Revenue ($)')
plt.tight_layout()
plt.savefig("sales_chart.png")
plt.show()

Output

Prints sales summary like:

In [ ]:
  product      total_qty       revenue
0   Apple         17           8.5
1  Banana         15           4.5
2  Orange          8           4.8

Displays a bar chart of revenue by product


Saves chart as sales_chart.png

Interview Questions Answered


How did you connect Python to a database?

Ans: Using sqlite3.connect('sales_data.db').

What SQL query did you run?

Ans:SELECT product, SUM(quantity), SUM(quantity * price) FROM sales GROUP BY product

What does GROUP BY do?

Ans:-It aggregates data per unique product value.

How did you calculate revenue?

Ans:With SUM(quantity * price) inside the SQL query.

How did you visualize the result?

Ans:Using matplotlib.pyplot with a bar chart.

What does pandas do in your code?

Ans:It reads SQL query results into a DataFrame and helps with data manipulation/plotting.

What’s the benefit of using SQL inside Python?

You combine powerful data querying (SQL) with Python’s tools for analysis and visualization.

Could you run the same SQL query in DB Browser for SQLite?

Ans:Yes — just paste it into the SQL tab and run.