Task 3: SQL for Data Analysis

 Deliverables
1.SQL Queries in a .sql file (you can name it ecommerce_analysis.sql)


2.Screenshots of query outputs (take these from your SQL interface: pgAdmin, MySQL Workbench, DB Browser for SQLite, etc.)

SQL Queries for Data Analysis

Assume a sample E-commerce schema like this:

Customers(customer_id, name, email, created_at)
Orders(order_id, customer_id, order_date, total_amount)
Order_Items(order_item_id, order_id, product_id, quantity, price)
Products(product_id, name, category, price)

a. SELECT, WHERE, ORDER BY, GROUP BY

-- Top 5 highest spending customers
SELECT c.customer_id, c.name, SUM(o.total_amount) AS total_spent
FROM Customers c
JOIN Orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.name
ORDER BY total_spent DESC
LIMIT 5;

 b. JOINS (INNER, LEFT, RIGHT)

-- List of all orders with customer names and product details
SELECT o.order_id, c.name AS customer_name, p.name AS product_name, oi.quantity
FROM Orders o
INNER JOIN Customers c ON o.customer_id = c.customer_id
INNER JOIN Order_Items oi ON o.order_id = oi.order_id
INNER JOIN Products p ON oi.product_id = p.product_id;

c. Subqueries

-- Customers who spent more than average total spend
SELECT customer_id, name
FROM Customers
WHERE customer_id IN (
    SELECT customer_id
    FROM Orders
    GROUP BY customer_id
    HAVING SUM(total_amount) > (
        SELECT AVG(total_amount) FROM Orders
    )
);

d. Aggregate Functions (SUM, AVG)

-- Average order value
SELECT AVG(total_amount) AS average_order_value
FROM Orders;

e. Views for Analysis

-- Create a view for customer order summary
CREATE VIEW customer_order_summary AS
SELECT c.customer_id, c.name, COUNT(o.order_id) AS total_orders, SUM(o.total_amount) AS total_spent
FROM Customers c
JOIN Orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id, c.name;

f. Optimize Queries with Indexes

-- Creating indexes for optimization
CREATE INDEX idx_orders_customer_id ON Orders(customer_id);
CREATE INDEX idx_order_items_order_id ON Order_Items(order_id);

Interview Questions & Answers

1.What is the difference between WHERE and HAVING?

Ans:WHERE filters rows before aggregation.

HAVING filters after aggregation (GROUP BY).

2.What are the different types of joins?

Ans:INNER JOIN: Only matching records.

LEFT JOIN: All from left, matching from right.

RIGHT JOIN: All from right, matching from left.

FULL OUTER JOIN (not in all DBs): All records from both sides.

3.How do you calulate average revenue per user in SQL?

SELECT AVG(user_spending) AS avg_revenue_per_user
FROM (
  SELECT customer_id, SUM(total_amount) AS user_spending
  FROM Orders
  GROUP BY customer_id
) AS customer_totals;

4.What are subqueries?

Ans:A subquery is a query nested inside another query (e.g., in WHERE, FROM, or SELECT clauses).

5.How do you optimize a SQL query?

Use indexes.

Avoid SELECT *.

Use EXPLAIN or EXPLAIN ANALYZE.

Limit subqueries and nested loops.

Proper joins, filter early, cache results.

6.What is a view in SQL?

Ans:A view is a virtual table based on a query. It simplifies complex queries and can be reused.

7.How would you handle null values in SQL?

Ans:Use IS NULL or IS NOT NULL.

Use COALESCE(column, default_value) to replace nulls.

Be cautious in aggregations (e.g., AVG, SUM ignore nulls).