Step -by -step Guide: Python Data Cleaning (Example using Pandas )

Lets assume youre working on the " Customer Personality Analysis" dataset from kaggle.

1.Load the Data

import pandas as pd
df= pd.read_csv('Customer_Personality_Analysis.csv')

2.Inspect the Data

df.info()
df.head()
df.describe()

3.Handle Missing Values

#Check missing values
df.isnull().sum()
#drop rows with many missing values 
df.dropna(thresh+5,inplace=True)
#Fill missing values
df['income'].fillna(df[df['Income'].median(),inplace=True)#or use mean ,mode as approprate

Excel Alternative : Use filters to highlight blanks and use formulas (e.g.,=IF(ISBLANK(---)))to identify missing values . then fill or delete as required.

4.Remove Duplicate Rows

df.droup_duplicates(inplace=True)

Excel Alternative:Use "Remove Duplicates"under the "Data"tab.

5.Standardize Text Values

#Example: Standardize gender
df ['Gender']=df['gender'].str.strip()'str.lower().replace({'f':'female','m':'male'})
#Clean country names or other catgorical field
df['country']=df['Country'].str.title().str.strip()

6.Convert and Standrdize data format

df['Dt_Customer'}=pd.to_datetime(df['dt_Customer'],dayfirst=True)

7.Rename Columns

df.columns=df.columns.str.lower().str.replace(' ' ,' _')

8.Fix Data Types

df['age']=df['year_birth'].apply(lambda x:2025-x) #derive age df['age']=df['age'].astype(int)

Deliverables:cleaned Dataset+Summary

After cleaning ,save the clean dataset:

df.to_csv('Cleaned_customer_Data.csv',Index=False)

Sample Summary of Changes

1."dropped 10 rows with excessive missing values."
2."Filled missing Income values with the median income."
3."Removed 4 duplicate records ."
4."Standardized gender values to "male"and "female"."
5."converted Dt_Customer to datetime format(dd-mm-yyyy)."
6."Renamed all column headers to lowercase with underscores."
7. "Calculated and fixed the age column from year_birth."

Interview Questions & Suggested Answers

1.What are missing values and how do you handle them?

Missing values are empty or null entries in the dataset . They can be handled by:

1.Deleting nrows /columns (droups)
2.Inputing values using mean , median , mode (fillna)
3.Adanced methods like interploation or models-basede imputation

2.How do you trat duplicate recoreds ?

By using drop_duplicate()in Pandas to remove repeated rows.In Excel,use "Remove Duplicates".

3.Difference between dropna() and fillna()?

dropna()removes rows or columns with missing values.
fillna()fills missing values with a specified value or method.

4.What is outlier treatment and why is it important ?

Outlier treatment involves making data consistent in format and structure (e.g.,data format , text casing , units ).It includes renaming , text normalization , and converting data types.

5.Explain the process of standaerdizing data.?

Standardization involves making data consistent in format and structure (e.g.,date format , text casing, units).It includes renaming , text normalization , and converting data types.

6.How do you handle inconsistant data formats(e.g.,date/time)?

convert all values to standard format using parsing fuction like pd.to _datetime()_in pandas or TEXT functions in Excel.

7.What are common data cleaning challenges?

1.missing or inconsistent data
2.Ambiguous data labels 
3.Mixed data types 
4.Typos or misspellings
5.Hidden characters or formatting

8.How can you check data quality?

1.Use .info()and.describe()to inspect data
2.Check for missing or duplicate values 
3.Validate ranges and uniqueness
4.Use visualizations (boxplots,histograms)to detect anomalies